{% assign current_page = page.url | split: "." | first %}
{% assign basic_pages = "Home" | split: "," %}
{% assign valid_pages = site.subpages | append: basic_pages %}


<section id="header-nav">
  <header>
    <nav>
      <ul>
        {% for item in site.data.navigation %}
            {% if item.link == current_page %}
            <li class="btn-nav">
                <a class="current" href="{{ item.link | relative_url }}">
                    {{ item.name }}
                </a>
            </li>
            {% else %}
            <li class="btn-nav">
                <a href="{{ item.link | relative_url }}">
                    {{ item.name }}
                </a>
            </li>
            {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </header>
</section>